header {
    width: 100%;
    background-color: #026cfa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: Helvetica, sans-serif;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#logo h2 {
    margin: 0;
    padding: 11px 1.25rem;
    color: white;
    font-weight: 200;
}

.logo-span {
    color: #caebff;
    font-weight: 600;
}


nav {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  padding: 0 1.25rem;
  text-decoration: none;
  color: white;
}

li:hover a {color: #caebff}


/* Mobile Toggle */

#navToggle {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

#navToggle a {
  color: white;
  display: block;
  font-size: 2em;
  font-weight: 200;
  padding: 10px 12px;
  line-height: 1em;
  text-decoration: none;
  transition: 100ms all ease;
}

#navToggle:hover a {color: #caebff}

.mobile-open {
    display: block;
}


@media all and (max-width: 747px) {

    .container-header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        display: none;
        width: 100%;
    }
    ul {
        padding: 12px 0 80px;
    }
    li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
    }
    li a {
        font-size: 1.4rem
    }
    #navToggle {
        display: block
    }
}